#home {
  width: 100%;
  height: 100%;
  // overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  .nav {
    max-width: 15rem;
    min-width: 15rem;
    // position: fixed;
  }
  .channel {
    width: 100%;
  }
}
#loading-screen {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: fixed;
  z-index: 99999;
  width: 100vw;
  height: 100vh;
  background-color: var(--background);
  opacity: 1;
  transition: opacity 1s ease;
  &.anim-out {
    transition: opacity 1s ease;
    opacity: 0;
  }
}
#loader {
  margin: 0.5rem;
  .l-bar {
    display: flex;
    margin: 2px;
    width: 10px;
    height: 70px;
    // background: #fff;
    display: inline-block;
    transform-origin: bottom center;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    animation: loader 2s ease infinite;
  }
  .l-bar1 {
    animation-delay: 0s;
  }
  .l-bar2 {
    animation-delay: 0.1s;
  }
  .l-bar3 {
    animation-delay: 0.2s;
  }
  .l-bar4 {
    animation-delay: 0.3s;
  }
  .l-bar5 {
    animation-delay: 0.4s;
  }
  .l-bar6 {
    animation-delay: 0.5s;
  }
  .l-bar7 {
    animation-delay: 0.6s;
  }
  .l-bar8 {
    animation-delay: 0.7s;
  }
  .l-bar9 {
    animation-delay: 0.8s;
  }
  .l-bar10 {
    animation-delay: 0.9s;
  }
  @keyframes loader {
    0% {
      transform: scaleY(0.1);
      background: transparent;
    }
    50% {
      transform: scaleY(0.7);
      background: var(--accent);
    }
    100% {
      transform: scaleY(0.1);
      background: transparent;
    }
  }
}
#analogy {
  max-width: 20rem;
  max-height: 1rem;
  text-align: center;
  font-weight: 100;
  font-family: 'ChivoLight';
  animation: animin 1s ease;
  @keyframes animin {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  p {
    opacity: 1;
    transition: opacity 1s ease;
    &.out {
      opacity: 0;
      transition: opacity 1s ease;
    }
  }
}