#channel {
  height: 100%;
  width: 100%;
  div.nochannel {
    user-select: none;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    div.nochannelinner {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      h2 {
        opacity: 30%;
      }
      svg {
        opacity: 30%;
        height: 5rem;
        width: 5rem;
        stroke-width: 1px;
      }
    }
  }
  
}
