@import './vars.scss';
@import './fonts.scss';

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: #00000060 transparent;
  -webkit-tap-highlight-color: transparent;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: #00000060;
}

html {
  max-width: 100%;
  max-height: 100%;
  // overflow: hidden;
}
body {
  overflow: hidden;
  font-family: 'Chivo', sans-serif;
  background-color: var(--background);
  color: var(--text);
  height: 100%;
}
a:any-link {
  color: #69a3ff;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
